<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Pages</li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/movies">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Movies</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/theatres">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Theatres</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/bookings">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Bookings</span>
      </a>
    </li>

    <li class="nav-item nav-category">System</li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/password/edit/<%= data.id %>">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Update Password</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Sign Out</span>
      </a>
    </li>
  </ul>
</nav>
